In [17]:
import pandas as pd
pd.options.display.float_format = '{:,.4f}'.format
pd.options.display.max_rows = 100
pd.options.display.max_columns = 40
import numpy as np
import os,random, math
from tqdm import tqdm
from copy import deepcopy
from collections import Counter

# Visualization
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import font_manager, rc
plt.rcParams['font.family'] = 'NanumGothic'
import platform
if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:    
    rc('font', family='AppleGothic')

matplotlib.rcParams['axes.unicode_minus'] = False

# Warnings
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

import datetime
import re

from dateutil.relativedelta import relativedelta
from datetime import datetime
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error as mae

import folium
from folium import plugins
import json
import geopandas as gpd
from geopandas import gpd
from haversine import haversine
from shapely.geometry import Point, shape, mapping,Polygon
from shapely.ops import unary_union

In [18]:
censor = gpd.read_file('/Users/seungji/Library/Mobile Documents/com~apple~CloudDocs/STDA/Project/data/censor.shp')

In [19]:
censor_g = censor[['serial','geometry']].drop_duplicates().reset_index(drop=True)

In [20]:
censor.head()

,serial,date,fp,gu,juso,lat,lon,subway,bus,building_c,building_a,pop,geometry
0,"2,992.0000",2021-01-04,"6,594.7167",???,????? ??? ??? 733-28,37.4895,126.8848,"15,223.5000","1,248.3000",22,"11,335.4700","4,508.0000",POINT (37.489 126.885)
1,"2,992.0000",2021-01-05,"6,290.3333",???,????? ??? ??? 733-28,37.4895,126.8848,"14,932.0000","1,239.3000",22,"11,335.4700","4,508.0000",POINT (37.489 126.885)
2,"2,992.0000",2021-01-06,"6,222.3667",???,????? ??? ??? 733-28,37.4895,126.8848,"15,729.0000","1,254.0000",22,"11,335.4700","4,508.0000",POINT (37.489 126.885)
3,"2,992.0000",2021-01-07,"5,919.0333",???,????? ??? ??? 733-28,37.4895,126.8848,"16,100.5000","1,319.9000",22,"11,335.4700","4,508.0000",POINT (37.489 126.885)
4,"2,992.0000",2021-01-08,"5,982.3000",???,????? ??? ??? 733-28,37.4895,126.8848,"14,750.0000","1,207.8000",22,"11,335.4700","4,508.0000",POINT (37.489 126.885)

In [21]:
censor['month'] = list(map(lambda x: x[5:7], censor.date))

In [23]:
censor.shape

(26319, 14)

In [24]:
censor.index = pd.to_datetime(censor.date)

In [25]:
censor['week'] = censor.date.to_period('W').index

In [26]:
sensor_wk = censor.groupby(['serial','week']).mean().reset_index()

In [27]:
sensor_wk

,serial,week,fp,lat,lon,subway,bus,building_c,building_a,pop
0,"2,992.0000",2021-01-04/2021-01-10,"6,071.1738",37.4895,126.8848,"12,525.2143","1,106.3429",22.0000,"11,335.4700","4,508.0000"
1,"2,992.0000",2021-01-11/2021-01-17,"6,688.2619",37.4895,126.8848,"12,799.2857","1,142.4000",22.0000,"11,335.4700","4,508.0000"
2,"2,992.0000",2021-01-18/2021-01-24,"6,170.6548",37.4895,126.8848,"12,993.1429","1,164.8286",22.0000,"11,335.4700","4,508.0000"
3,"2,992.0000",2021-01-25/2021-01-31,"4,498.7917",37.4895,126.8848,"14,442.4167","1,249.3333",22.0000,"11,335.4700","4,508.0000"
4,"2,992.0000",2021-02-01/2021-02-07,"5,003.6472",37.4895,126.8848,"13,030.0833","1,208.8333",22.0000,"11,335.4700","4,508.0000"
...,...,...,...,...,...,...,...,...,...,...
3901,"4,050.0000",2021-09-20/2021-09-26,70.0952,37.5729,126.9556,"4,555.0714",217.4821,11.0000,"67,916.9400","3,152.0000"
3902,"4,050.0000",2021-09-27/2021-10-03,61.5833,37.5729,126.9556,"6,951.7500",352.6562,11.0000,"67,916.9400","3,152.0000"
3903,"4,050.0000",2021-10-04/2021-10-10,63.6222,37.5729,126.9556,"5,970.8333",303.4792,11.0000,"67,916.9400","3,152.0000"
3904,"4,050.0000",2021-10-11/2021-10-17,54.3762,37.5729,126.9556,"6,242.7857",298.8482,11.0000,"67,916.9400","3,152.0000"
3905,"4,050.0000",2021-10-18/2021-10-24,62.7000,37.5729,126.9556,"7,404.1667",349.1979,11.0000,"67,916.9400","3,152.0000"

In [28]:
sensor_wk['week2'] = list(map(lambda x: str(x)[:10], sensor_wk.week))

In [29]:
sensor_wk.week = sensor_wk.week.astype(str)

In [31]:
sensor_wk = pd.merge(sensor_wk, censor_g, on = 'serial',how = 'left')

In [32]:
sensor_wk.to_file('/Users/seungji/Library/Mobile Documents/com~apple~CloudDocs/STDA/Project/data/sensor_wk.shp')

In [124]:
censor = gpd.read_file('/Users/seungji/Library/Mobile Documents/com~apple~CloudDocs/STDA/Project/data/censor.shp')

In [125]:
censor_g = censor[['serial','geometry']].drop_duplicates().reset_index(drop=True)

In [126]:
censor.head()

,serial,date,fp,gu,juso,lat,lon,subway,bus,building_c,building_a,pop,geometry
0,"2,992.0000",2021-01-04,"6,594.7167",???,????? ??? ??? 733-28,37.4895,126.8848,"15,223.5000","1,248.3000",22,"11,335.4700","4,508.0000",POINT (37.489 126.885)
1,"2,992.0000",2021-01-05,"6,290.3333",???,????? ??? ??? 733-28,37.4895,126.8848,"14,932.0000","1,239.3000",22,"11,335.4700","4,508.0000",POINT (37.489 126.885)
2,"2,992.0000",2021-01-06,"6,222.3667",???,????? ??? ??? 733-28,37.4895,126.8848,"15,729.0000","1,254.0000",22,"11,335.4700","4,508.0000",POINT (37.489 126.885)
3,"2,992.0000",2021-01-07,"5,919.0333",???,????? ??? ??? 733-28,37.4895,126.8848,"16,100.5000","1,319.9000",22,"11,335.4700","4,508.0000",POINT (37.489 126.885)
4,"2,992.0000",2021-01-08,"5,982.3000",???,????? ??? ??? 733-28,37.4895,126.8848,"14,750.0000","1,207.8000",22,"11,335.4700","4,508.0000",POINT (37.489 126.885)

In [129]:
sensor_mt = censor.groupby(['serial','month']).mean().reset_index()

In [134]:
sensor_mt

,serial,month,fp,lat,lon,subway,bus,building_c,building_a,pop,geometry
0,"2,992.0000",2021-01-01,"5,907.5327",37.4895,126.8848,"13,143.6296","1,162.6296",22.0000,"11,335.4700","4,508.0000",POINT (37.489 126.885)
1,"2,992.0000",2021-02-01,"5,428.4716",37.4895,126.8848,"12,508.0741","1,171.7444",22.0000,"11,335.4700","4,508.0000",POINT (37.489 126.885)
2,"2,992.0000",2021-03-01,"6,029.9231",37.4895,126.8848,"13,881.1452","1,263.1581",22.0000,"11,335.4700","4,508.0000",POINT (37.489 126.885)
3,"2,992.0000",2021-04-01,"4,529.7779",37.4895,126.8848,"14,318.8000","1,284.7633",22.0000,"11,335.4700","4,508.0000",POINT (37.489 126.885)
4,"2,992.0000",2021-05-01,"5,002.5532",37.4895,126.8848,"13,245.8710","1,255.9258",22.0000,"11,335.4700","4,508.0000",POINT (37.489 126.885)
...,...,...,...,...,...,...,...,...,...,...,...
925,"4,050.0000",2021-06-01,94.4656,37.5729,126.9556,"6,572.8500",322.2021,11.0000,"67,916.9400","3,152.0000",POINT (37.573 126.956)
926,"4,050.0000",2021-07-01,75.4935,37.5729,126.9556,"5,468.6452",289.0786,11.0000,"67,916.9400","3,152.0000",POINT (37.573 126.956)
927,"4,050.0000",2021-08-01,68.2360,37.5729,126.9556,"5,361.0000",280.2056,11.0000,"67,916.9400","3,152.0000",POINT (37.573 126.956)
928,"4,050.0000",2021-09-01,83.1817,37.5729,126.9556,"5,900.3846",293.3894,11.0000,"67,916.9400","3,152.0000",POINT (37.573 126.956)
929,"4,050.0000",2021-10-01,59.9246,37.5729,126.9556,"6,523.6579",316.2105,11.0000,"67,916.9400","3,152.0000",POINT (37.573 126.956)

In [131]:
censor['month'] = list(map(lambda x: x[:7]+'-01', censor.date))

In [132]:
sensor_mt.month = sensor_mt.month.astype('str')

In [133]:
sensor_mt = pd.merge(sensor_mt, censor_g, on = 'serial',how = 'left')

In [135]:
sensor_mt.to_file('/Users/seungji/Library/Mobile Documents/com~apple~CloudDocs/STDA/Project/data/sensor_mt.shp')

In [10]:
censor_oct = censor[censor.month == '10']
censor_oct = censor_oct.groupby('serial').mean().reset_index()

In [14]:
censor_g = censor[['serial','geometry']].drop_duplicates().reset_index(drop=True)

In [16]:
censor_oct = pd.merge(censor_oct, censor_g, on = 'serial',how = 'left')

In [19]:
censor_oct.to_file('/Users/seungji/Library/Mobile Documents/com~apple~CloudDocs/STDA/Project/data/censor_oct.shp')

In [23]:
censor_oct

,serial,fp,lat,lon,subway,bus,building_c,building_a,pop,geometry
0,"2,992.0000","4,300.2149",37.4895,126.8848,"13,405.8421","1,289.4632",22.0000,"11,335.4700","4,508.0000",POINT (37.489 126.885)
1,"2,993.0000","3,851.4956",37.6374,127.0390,"7,283.8750",586.5902,21.0000,"6,650.0300","4,896.0000",POINT (37.637 127.039)
2,"2,994.0000","5,552.8974",37.4882,126.8851,"13,405.8421","1,114.5263",21.0000,"5,084.7400","5,513.0000",POINT (37.488 126.885)
3,"2,995.0000",NaN,37.5025,126.8510,"2,546.0987",373.6684,19.0000,"5,717.5500","3,451.0000",POINT (37.502 126.851)
4,"2,996.0000",NaN,37.5017,126.8508,"5,092.1974",277.2538,20.0000,"7,423.8000","4,199.0000",POINT (37.502 126.851)
5,"2,997.0000","4,705.9482",37.5344,126.8380,"12,248.7237",882.3421,20.0000,"17,808.0200","6,790.0000",POINT (37.534 126.838)
6,"2,998.0000","4,828.1167",37.5352,126.8399,"12,248.7237",721.0632,22.0000,"11,136.1700","7,312.0000",POINT (37.535 126.840)
7,"2,999.0000","2,922.8061",37.4973,127.0513,"12,598.0526",963.6541,22.0000,"105,169.6600","7,053.0000",POINT (37.497 127.051)
8,"3,000.0000","4,434.0728",37.5087,127.0228,"21,518.3947","1,275.2566",20.0000,"25,008.2700","3,531.0000",POINT (37.509 127.023)
9,"3,001.0000","2,632.8930",37.4890,127.0679,"3,371.1053",265.3450,14.0000,"95,036.8800","2,638.0000",POINT (37.489 127.068)
10,"3,002.0000","3,523.2281",37.4886,127.0680,"3,371.1053",278.7386,17.0000,"129,132.8300","3,958.0000",POINT (37.489 127.068)
11,"3,003.0000","5,096.0649",37.6050,127.0763,"9,380.2895",186.8849,20.0000,"11,017.0500","5,673.0000",POINT (37.605 127.076)
12,"3,004.0000","3,595.5123",37.6050,127.0754,"9,380.2895",49.6140,21.0000,"10,542.2400","5,388.0000",POINT (37.605 127.075)
13,"3,005.0000","4,896.4825",37.6599,127.0685,"15,968.5000",149.2171,21.0000,"9,191.0600","5,559.0000",POINT (37.660 127.069)
14,"3,006.0000","4,540.4079",37.6228,127.0750,"7,383.4123",262.5614,22.0000,"12,488.5100","6,021.0000",POINT (37.623 127.075)
15,"3,007.0000","4,198.9623",37.6220,127.0775,"6,018.4737",226.8114,23.0000,"19,497.8300","7,271.0000",POINT (37.622 127.077)
16,"3,008.0000","5,088.1053",37.5504,127.1283,"15,092.3421",409.2533,22.0000,"31,984.4100","6,813.0000",POINT (37.550 127.128)
17,"3,009.0000","2,502.1833",37.5499,127.1295,"15,092.3421",409.2533,22.0000,"20,184.3400","6,471.0000",POINT (37.550 127.129)
18,"3,010.0000","3,870.1482",37.5505,127.1279,"15,092.3421",409.2533,20.0000,"40,918.9700","5,853.0000",POINT (37.551 127.128)
19,"3,011.0000","4,400.4886",37.5631,127.0820,"8,575.2368",160.5958,20.0000,"8,748.4000","4,294.0000",POINT (37.563 127.082)
20,"3,012.0000","2,252.6526",37.5334,127.0810,"9,832.4868",455.0526,22.0000,"7,633.3000","7,397.0000",POINT (37.533 127.081)
21,"3,013.0000","3,103.9447",37.5001,126.9324,"13,560.0526",514.0000,22.0000,"17,561.7900","5,848.0000",POINT (37.500 126.932)
22,"3,014.0000","4,777.1061",37.4990,126.9520,"10,838.9737",375.8099,22.0000,"53,864.6200","6,411.0000",POINT (37.499 126.952)
23,"3,015.0000","2,943.9623",37.4997,126.9514,"9,797.1711",366.3322,22.0000,"36,602.6900","6,247.0000",POINT (37.500 126.951)
24,"3,016.0000","4,737.8132",37.4887,126.9786,"15,544.6579",41.5684,18.0000,"83,945.2800","6,290.0000",POINT (37.489 126.979)
25,"3,017.0000","4,196.9526",37.4891,126.9806,"15,544.6579","1,112.9632",23.0000,"36,509.9000","5,492.0000",POINT (37.489 126.981)
26,"3,018.0000","2,731.9263",37.6304,127.0226,"6,395.2237","1,903.7434",19.0000,"15,802.5300","3,437.0000",POINT (37.630 127.023)
27,"3,019.0000","3,707.8658",37.6322,127.0217,"2,909.9211",655.4770,16.0000,"13,580.5600","3,332.0000",POINT (37.632 127.022)
28,"3,020.0000","9,423.3886",37.6308,127.0236,"6,395.2237","1,903.7434",21.0000,"42,542.9200","4,052.0000",POINT (37.631 127.024)
29,"3,021.0000","3,526.3430",37.6407,127.0355,"12,142.8816",216.3991,20.0000,"24,280.9300","7,838.0000",POINT (37.641 127.035)
30,"3,022.0000","4,249.1211",37.6399,127.0360,"14,567.7500",445.7917,19.0000,"17,326.7900","6,678.0000",POINT (37.640 127.036)
31,"3,023.0000","4,179.1640",37.6396,127.0381,"6,071.4408",785.6404,23.0000,"11,148.4100","7,525.0000",POINT (37.640 127.038)
32,"3,024.0000","4,268.3860",37.4676,126.9081,"3,728.6513",65.7632,13.0000,"9,268.5700","2,922.0000",POINT (37.468 126.908)
33,"3,025.0000","4,127.1500",37.4735,126.8921,"7,457.3026",267.9474,21.0000,"124,424.4300","7,992.0000",POINT (37.474 126.892)
34,"3,026.0000","2,011.9851",37.4495,126.9147,"2,040.5066",221.8658,15.0000,"87,047.8000","4,721.0000",POINT (37.450 126.915)
35,"3,027.0000","4,166.5237",37.4701,126.9072,"3,728.6513",51.0526,14.0000,"14,306.5000","3,881.0000",POINT (37.470 126.907)
36,"3,028.0000","4,112.4667",37.5558,126.9060,"12,909.7895",161.4041,22.0000,"9,205.4000","6,982.0000",POINT (37.556 126.906)
37,"3,029.0000","3,073.9684",37.5538,126.9124,"17,196.9737",130.5718,21.0000,"36,347.3600","4,533.0000",POINT (37.554 126.912)
38,"3,030.0000","4,241.9079",37.5552,126.9069,"12,909.7895",253.5769,20.0000,"8,681.2700","6,328.0000",POINT (37.555 126.907)
39,"3,031.0000","5,598.2096",37.4825,126.9265,"53,558.1842","2,157.0072",21.0000,"13,973.8600","5,527.0000",POINT (37.482 126.926)
40,"3,032.0000","3,203.7447",37.4836,126.9257,"53,558.1842","2,061.3632",22.0000,"12,972.5200","6,296.0000",POINT (37.484 126.926)
41,"3,033.0000","3,203.7211",37.5091,127.0841,"17,739.0789","1,104.6842",23.0000,"30,228.5100","5,709.0000",POINT (37.509 127.084)
42,"3,034.0000","9,102.1842",37.5085,127.0871,"11,723.8947",434.6908,22.0000,"81,539.9000","8,130.0000",POINT (37.509 127.087)
43,"3,035.0000","6,215.3175",37.5687,126.9688,"14,902.7895",804.6667,16.0000,"113,020.9000","1,211.0000",POINT (37.569 126.969)
44,"3,036.0000","8,031.4132",37.5344,126.8348,"11,632.8947",529.0000,17.0000,"15,226.0600","5,079.0000",POINT (37.534 126.835)
45,"3,037.0000","2,247.7184",37.5325,126.8331,"6,124.3618",394.1140,22.0000,"12,619.4200","6,041.0000",POINT (37.532 126.833)
46,"3,038.0000","4,152.3456",37.5312,126.8361,"12,248.7237",216.0570,19.0000,"9,640.3400","4,406.0000",POINT (37.531 126.836)
47,"3,039.0000","4,918.3605",37.5485,126.8646,"9,525.2895","1,569.2303",18.0000,"26,246.3600","3,973.0000",POINT (37.549 126.865)
48,"3,040.0000","3,739.9333",37.4889,126.8851,"13,405.8421","1,289.4632",22.0000,"6,393.0200","5,436.0000",POINT (37.489 126.885)
49,"3,041.0000","4,298.0772",37.6378,127.0383,"7,283.8750",492.6868,20.0000,"6,663.4400","4,976.0000",POINT (37.638 127.038)
50,"4,001.0000",413.6471,37.5013,127.0264,"46,250.8158","1,609.8368",18.0000,"74,642.8600","1,375.0000",POINT (37.501 127.026)
51,"4,002.0000","2,576.2627",37.5255,127.0282,"26,904.7368","1,086.5789",21.0000,"93,554.7200",619.0000,POINT (37.526 127.028)
52,"4,003.0000","3,139.3307",37.5031,127.0499,"26,969.3684",624.2661,22.0000,"169,553.3700","3,828.0000",POINT (37.503 127.050)
53,"4,004.0000",888.3614,37.5036,127.0516,"26,969.3684",757.4323,22.0000,"129,348.1400","3,822.0000",POINT (37.504 127.052)
54,"4,005.0000","1,105.0272",37.5234,127.0224,"13,452.3684","1,397.6140",16.0000,"42,505.0400","1,316.0000",POINT (37.523 127.022)
55,"4,006.0000",151.0904,37.5184,127.0234,"26,244.3947","1,253.2961",21.0000,"33,295.5100","1,990.0000",POINT (37.518 127.023)
56,"4,007.0000",327.9886,37.5259,127.0391,"17,234.3158","1,619.5197",19.0000,"26,531.7000",804.0000,POINT (37.526 127.039)
57,"4,009.0000","1,848.6430",37.5597,127.1313,"3,773.0855",26.5592,4.0000,"2,520.5600",43.0000,POINT (37.560 127.131)
58,"4,010.0000","2,387.0417",37.5463,127.1430,"8,000.2895",341.6053,22.0000,"30,770.3100","5,412.0000",POINT (37.546 127.143)
59,"4,011.0000",359.3847,37.6406,127.0216,"16,384.5132",108.4211,21.0000,"12,472.6700","5,405.0000",POINT (37.641 127.022)
60,"4,013.0000",878.5281,37.5778,126.8133,"5,706.6053",108.8388,22.0000,"132,564.6200","6,649.0000",POINT (37.578 126.813)
61,"4,014.0000",419.9748,37.5600,126.8259,"8,401.1053",164.9656,10.0000,"206,363.7700","1,267.0000",POINT (37.560 126.826)
62,"4,015.0000","1,992.7382",37.5667,126.8261,"8,076.6842",175.2081,15.0000,"392,316.0900","4,514.0000",POINT (37.567 126.826)
63,"4,016.0000","1,308.5278",37.5590,126.8361,"17,035.7632",592.0215,18.0000,"465,188.8700","1,224.0000",POINT (37.559 126.836)
64,"4,017.0000",255.7901,37.5605,126.8547,"17,175.1842",524.2177,19.0000,"198,698.0500","6,700.0000",POINT (37.561 126.855)
65,"4,018.0000",964.3792,37.4792,126.9537,"40,404.1842","2,208.0625",20.0000,"28,524.7600","5,396.0000",POINT (37.479 126.954)
66,"4,019.0000",810.3588,37.5440,127.0697,"20,798.1447",375.8684,20.0000,"6,460.6600","7,003.0000",POINT (37.544 127.070)
67,"4,021.0000",130.9096,37.6458,127.0504,"3,750.3421",190.8895,16.0000,"69,867.5800","3,357.0000",POINT (37.646 127.050)
68,"4,022.0000",782.6001,37.5550,126.9053,"12,909.7895",144.2353,21.0000,"8,313.5300","6,698.0000",POINT (37.555 126.905)
69,"4,023.0000",76.7494,37.5982,126.9490,"3,684.2763",225.2737,22.0000,"10,007.9500","3,594.0000",POINT (37.598 126.949)
70,"4,026.0000",811.9053,37.4979,127.0268,"66,498.7368",820.1754,13.0000,"347,373.6300",530.0000,POINT (37.498 127.027)
71,"4,027.0000",741.6357,37.5062,127.0042,"20,988.6228","2,219.3158",13.0000,"154,734.2800","2,443.0000",POINT (37.506 127.004)
72,"4,028.0000",31.3599,37.4857,126.9834,"15,544.6579",693.0507,18.0000,"39,125.9000","3,507.0000",POINT (37.486 126.983)
73,"4,029.0000",555.5491,37.4883,127.0139,"21,117.7719",153.2289,21.0000,"56,957.3100","3,138.0000",POINT (37.488 127.014)
74,"4,030.0000",354.7737,37.5006,127.0260,"46,250.8158","1,550.9079",13.0000,"53,564.4900",768.0000,POINT (37.501 127.026)
75,"4,031.0000",310.7994,37.5453,127.0436,"13,922.0263",203.9053,15.0000,"204,108.6900","2,150.0000",POINT (37.545 127.044)
76,"4,032.0000",521.9563,37.5469,127.0416,"9,411.0000",292.3421,16.0000,"179,119.7800","2,395.0000",POINT (37.547 127.042)
77,"4,033.0000",696.9532,37.5121,127.1043,"35,614.3026",834.2368,4.0000,"477,695.0400",79.0000,POINT (37.512 127.104)
78,"4,034.0000",673.4026,37.5259,126.8636,"14,580.0789","1,203.1813",21.0000,"55,261.7000","4,151.0000",POINT (37.526 126.864)
79,"4,035.0000",964.0000,37.5403,126.9938,"4,642.8947",152.9711,20.0000,"10,279.5500","2,087.0000",POINT (37.540 126.994)
80,"4,036.0000",833.1754,37.6113,126.9175,"5,904.1053",561.6504,21.0000,"21,843.6700","5,032.0000",POINT (37.611 126.918)
81,"4,037.0000",165.4149,37.6051,126.9236,"3,599.0000",337.6316,23.0000,"17,715.6900","4,958.0000",POINT (37.605 126.924)
82,"4,038.0000",199.9570,37.5814,126.9846,"8,877.0658",65.0714,19.0000,"3,583.6900","1,250.0000",POINT (37.581 126.985)
83,"4,039.0000",137.5730,37.5823,126.9836,"8,877.0658",78.0965,18.0000,"3,466.9000","1,088.0000",POINT (37.582 126.984)
84,"4,040.0000",256.9096,37.5835,126.9826,"8,877.0658",82.2711,20.0000,"3,959.4500","1,160.0000",POINT (37.583 126.983)
85,"4,041.0000",205.8496,37.5788,127.0072,"13,609.8684",189.7368,18.0000,"6,305.9100","2,777.0000",POINT (37.579 127.007)
86,"4,042.0000",317.2237,37.5777,127.0080,"1,333.4079",189.7368,22.0000,"5,500.7100","4,759.0000",POINT (37.578 127.008)
87,"4,043.0000",204.5291,37.5636,126.9845,"22,732.9079","1,715.0044",18.0000,"55,221.5200",96.0000,POINT (37.564 126.985)
88,"4,045.0000",106.5707,37.5638,126.9819,"21,347.8421","1,732.5263",18.0000,"266,663.6000",34.0000,POINT (37.564 126.982)
89,"4,046.0000","1,119.0204",37.5679,127.0086,"10,452.6263",758.0099,13.0000,"345,971.2300",17.0000,POINT (37.568 127.009)
90,"4,048.0000","1,083.8020",37.5604,126.9787,"20,618.4474","1,176.8070",20.0000,"266,073.9600",666.0000,POINT (37.560 126.979)
91,"4,049.0000",550.1974,37.5912,126.9430,"14,737.1053",487.5283,21.0000,"13,602.8200","2,228.0000",POINT (37.591 126.943)
92,"4,050.0000",59.9246,37.5729,126.9556,"6,523.6579",316.2105,11.0000,"67,916.9400","3,152.0000",POINT (37.573 126.956)

In [6]:
censor_july = censor[censor.month == '07']
censor_july = censor_july.groupby('serial').mean().reset_index()

In [7]:
censor_g = censor[['serial','geometry']].drop_duplicates().reset_index(drop=True)

In [8]:
censor_july = pd.merge(censor_july, censor_g, on = 'serial',how = 'left')

In [9]:
censor_july.to_file('/Users/seungji/Library/Mobile Documents/com~apple~CloudDocs/STDA/Project/data/censor_july.shp')

In [14]:
censor_may = censor[censor.month == '05']
censor_may = censor_may.groupby('serial').mean().reset_index()

In [15]:
censor_g = censor[['serial','geometry']].drop_duplicates().reset_index(drop=True)

In [16]:

censor_may = pd.merge(censor_may, censor_g, on = 'serial',how = 'left')

In [17]:
censor_may.to_file('/Users/seungji/Library/Mobile Documents/com~apple~CloudDocs/STDA/Project/data/censor_may.shp')

In [18]:
censor_march = censor[censor.month == '03']
censor_march = censor_march.groupby('serial').mean().reset_index()

In [19]:
censor_g = censor[['serial','geometry']].drop_duplicates().reset_index(drop=True)

In [20]:

censor_march = pd.merge(censor_march, censor_g, on = 'serial',how = 'left')

In [21]:
censor_march.to_file('/Users/seungji/Library/Mobile Documents/com~apple~CloudDocs/STDA/Project/data/censor_march.shp')