In [36]:
from selenium import webdriver
#from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import pickle
import requests
import json
import re
from tqdm import tqdm

In [37]:
directory = '/Users/seungji/Library/Mobile Documents/com~apple~CloudDocs/STDA/Project/'

In [38]:
subway = pd.read_csv(directory + 'data/CARD_SUBWAY_MONTH_202110.csv')

In [39]:
subway = subway.reset_index()
subway.columns = ['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '등록일자','na']
subway = subway.drop(columns = 'na')

In [40]:
subway_nm = subway.역명.unique()

In [41]:
st = pd.DataFrame(columns=['subway_name','위도','경도'])
st['subway_name'] = subway_nm
val = pd.DataFrame(st['subway_name'].value_counts()).reset_index().rename(columns={'index':'subway_name','subway_name':'환승역 수'})
st = st.drop_duplicates().reset_index(drop=True)
st = pd.merge(st,val,how='inner',on='subway_name')

In [42]:
st['subway_name'] = st['subway_name'].apply(lambda x : re.sub(r'\([^)]*\)','',x)) #괄호 포함 글자 제거

In [47]:
st['subway_name'] = list(map(lambda x: x+'역', st['subway_name']))

In [48]:
def get_location():
    
    subway = np.array(st['subway_name'])
    
    for i in tqdm(subway):
        
        url = "https://dapi.kakao.com/v2/local/search/keyword.json"

        queryString = {'query' : i}
        header = {'Authorization': 'KakaoAK 2faece6ee426f2b12f9f597dd2f0f9d0'} #rest api

        response = requests.get(url, headers=header, params=queryString)
        tokens = response.json()
        
        try: 
            lat = tokens['documents'][0]['x']
            lng = tokens['documents'][0]['y']
            st.loc[st['subway_name'].isin([i]),'위도'] = lat
            st.loc[st['subway_name'].isin([i]),'경도'] = lng
        except:
            print(i)
            pass

In [49]:
get_location()

100%|█████████████████████████████████████████| 521/521 [02:27<00:00,  3.53it/s]

In [50]:
subway_location = st[['subway_name','위도','경도']]

In [52]:
subway_location[subway_location.subway_name == '압구정역']

    subway_name                  위도                 경도
222        압구정역  127.02850865895756  37.52649127416921

In [53]:
subway_location.to_csv(directory + 'data/subway_location.csv', index = False)

In [31]:
url = "https://dapi.kakao.com/v2/local/search/keyword.json"

queryString = {'query' : '압구정역'}
header = {'Authorization': 'KakaoAK 2faece6ee426f2b12f9f597dd2f0f9d0'} #rest api

response = requests.get(url, headers=header, params=queryString)
tokens = response.json()

In [32]:
tokens

{'documents': [{'address_name': '서울 강남구 신사동 668',
   'category_group_code': 'SW8',
   'category_group_name': '지하철역',
   'category_name': '교통,수송 > 지하철,전철 > 수도권3호선',
   'distance': '',
   'id': '21160592',
   'phone': '02-6110-3361',
   'place_name': '압구정역 3호선',
   'place_url': 'http://place.map.kakao.com/21160592',
   'road_address_name': '서울 강남구 압구정로 지하 172',
   'x': '127.02850865895756',
   'y': '37.52649127416921'},
  {'address_name': '서울 강남구 압구정동 495',
   'category_group_code': 'SW8',
   'category_group_name': '지하철역',
   'category_name': '교통,수송 > 지하철,전철 > 수인분당선',
   'distance': '',
   'id': '18234115',
   'phone': '1544-7788',
   'place_name': '압구정로데오역 수인분당선',
   'place_url': 'http://place.map.kakao.com/18234115',
   'road_address_name': '서울 강남구 압구정로 지하 402',
   'x': '127.0406027693898',
   'y': '37.5275184818021'},
  {'address_name': '서울 강남구 신사동 611',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '가정,생활 > 생활용품점 > 다이소',
   'distance': '',
   'id': '1129725658',
   'phone': '02-543-6016',
   'place_name': '다이소 압구정역점',
   'place_url': 'http://place.map.kakao.com/1129725658',
   'road_address_name': '서울 강남구 논현로 878',
   'x': '127.028938784232',
   'y': '37.5270939398967'},
  {'address_name': '서울 강남구 신사동 578-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '가정,생활 > 미용 > 미용실 > 준오헤어',
   'distance': '',
   'id': '1047941230',
   'phone': '02-514-0605',
   'place_name': '준오헤어 압구정역블랙점',
   'place_url': 'http://place.map.kakao.com/1047941230',
   'road_address_name': '서울 강남구 논현로175길 11',
   'x': '127.027567226174',
   'y': '37.5259626094403'},
  {'address_name': '서울 강남구 신사동 579-2',
   'category_group_code': 'BK9',
   'category_group_name': '은행',
   'category_name': '금융,보험 > 금융서비스 > 은행 > KB국민은행',
   'distance': '',
   'id': '10135456',
   'phone': '02-512-7114',
   'place_name': 'KB국민은행 압구정역지점',
   'place_url': 'http://place.map.kakao.com/10135456',
   'road_address_name': '서울 강남구 압구정로 160',
   'x': '127.027178191273',
   'y': '37.5263158924297'},
  {'address_name': '서울 강남구 신사동 575',
   'category_group_code': 'BK9',
   'category_group_name': '은행',
   'category_name': '금융,보험 > 금융서비스 > 은행 > 신한은행',
   'distance': '',
   'id': '10607039',
   'phone': '02-3443-8200',
   'place_name': '신한은행 압구정역지점',
   'place_url': 'http://place.map.kakao.com/10607039',
   'road_address_name': '서울 강남구 압구정로 152',
   'x': '127.026128142495',
   'y': '37.5257178639901'},
  {'address_name': '서울 강남구 신사동 614-2',
   'category_group_code': 'BK9',
   'category_group_name': '은행',
   'category_name': '금융,보험 > 금융서비스 > 은행 > 우리은행',
   'distance': '',
   'id': '10703924',
   'phone': '02-546-1901',
   'place_name': '우리은행 압구정역지점',
   'place_url': 'http://place.map.kakao.com/10703924',
   'road_address_name': '서울 강남구 압구정로 208',
   'x': '127.02980556816239',
   'y': '37.527607295417894'},
  {'address_name': '서울 강남구 신사동 599-4',
   'category_group_code': 'BK9',
   'category_group_name': '은행',
   'category_name': '금융,보험 > 금융서비스 > 은행 > NH농협은행',
   'distance': '',
   'id': '2056961127',
   'phone': '02-540-6400',
   'place_name': 'NH농협은행 압구정역지점',
   'place_url': 'http://place.map.kakao.com/2056961127',
   'road_address_name': '서울 강남구 논현로 842',
   'x': '127.02863213146084',
   'y': '37.52395312099169'},
  {'address_name': '서울 강남구 신사동 611',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '가정,생활 > 드럭스토어 > 올리브영',
   'distance': '',
   'id': '11910220',
   'phone': '02-549-5296',
   'place_name': '올리브영 압구정역점',
   'place_url': 'http://place.map.kakao.com/11910220',
   'road_address_name': '서울 강남구 논현로 878',
   'x': '127.02909158912773',
   'y': '37.52729662779193'},
  {'address_name': '서울 강남구 신사동 611',
   'category_group_code': 'BK9',
   'category_group_name': '은행',
   'category_name': '금융,보험 > 금융서비스 > 은행 > 하나은행',
   'distance': '',
   'id': '1579437265',
   'phone': '02-3444-0929',
   'place_name': '하나은행 압구정역PB센터',
   'place_url': 'http://place.map.kakao.com/1579437265',
   'road_address_name': '서울 강남구 논현로 878',
   'x': '127.029083662626',
   'y': '37.5272777087038'},
  {'address_name': '서울 강남구 압구정동',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교통,수송 > 도로시설 > 교차로',
   'distance': '',
   'id': '15141354',
   'phone': '',
   'place_name': '압구정역교차로',
   'place_url': 'http://place.map.kakao.com/15141354',
   'road_address_name': '',
   'x': '127.028567828904',
   'y': '37.5273895588424'},
  {'address_name': '서울 강남구 신사동 584-6',
   'category_group_code': 'BK9',
   'category_group_name': '은행',
   'category_name': '금융,보험 > 금융서비스 > 은행 > 수협은행',
   'distance': '',
   'id': '18705836',
   'phone': '02-3446-2635',
   'place_name': 'Sh수협은행 압구정금융센터',
   'place_url': 'http://place.map.kakao.com/18705836',
   'road_address_name': '서울 강남구 논현로 839',
   'x': '127.0280415013805',
   'y': '37.52364962487064'},
  {'address_name': '서울 강남구 신사동 575',
   'category_group_code': 'BK9',
   'category_group_name': '은행',
   'category_name': '금융,보험 > 금융서비스 > 은행 > 신한은행',
   'distance': '',
   'id': '501613235',
   'phone': '02-514-6790',
   'place_name': '신한은행 압구정역기업금융센터',
   'place_url': 'http://place.map.kakao.com/501613235',
   'road_address_name': '서울 강남구 압구정로 152',
   'x': '127.026150771953',
   'y': '37.5257286710077'},
  {'address_name': '서울 강남구 신사동 577-12',
   'category_group_code': 'CS2',
   'category_group_name': '편의점',
   'category_name': '가정,생활 > 편의점 > GS25',
   'distance': '',
   'id': '12296408',
   'phone': '02-549-3196',
   'place_name': 'GS25 압구정역점',
   'place_url': 'http://place.map.kakao.com/12296408',
   'road_address_name': '서울 강남구 압구정로28길 18',
   'x': '127.027580615872',
   'y': '37.5254580451008'},
  {'address_name': '서울 강남구 신사동 585-13',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '스포츠,레저 > 골프 > 골프연습장 > 스크린골프연습장 > 골프존파크',
   'distance': '',
   'id': '2060434197',
   'phone': '02-3445-3985',
   'place_name': '골프존파크 신사압구정역점',
   'place_url': 'http://place.map.kakao.com/2060434197',
   'road_address_name': '서울 강남구 논현로 833',
   'x': '127.028023084216',
   'y': '37.5228017858461'}],
 'meta': {'is_end': False,
  'pageable_count': 32,
  'same_name': {'keyword': '압구정역', 'region': [], 'selected_region': ''},
  'total_count': 109}}

In [30]:
tokens['documents'][0]['x']

'127.029112581665'